<footer class="container">

    <div class="connectBox">
        <h5>Connect with us</h5>
        <p>Email: Akansha&#64;nagarro.com</p>
    </div>
    <hr>
    <div class="row footerLogoSection">
        <div class="col-3">
        </div>
        <div class="col-3">
            <img src="../assets/images/authenticity.png" alt="img">
            <p>Genuine <br>books</p>
        </div>

        <div class="col-3">
            <img src="../assets/images/hands.png" alt="img">
            <p>Faster <br>Exchange</p>
        </div>
        <div class="col-3">
        </div>

    </div>
    <hr>
    <div class="footerCopySection">
        <p>&copy; 2023 Nagarro BookBytes</p>
    </div>


</footer>