<div class="container-fluid col-md-4 p-5">
    <h4>Login</h4>
    <hr>
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">
        <div class="mb-3">
            <label for="userid" class="form-label ">Email</label>
            <input name = "userid" type="text" class="form-control" formControlName="userid" id="userid">
          
            <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
                Email is required
            </div>
            <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">
                Email is invalid
            </div>
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="pwd" id="pwd">
         
            <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)">
                Password is required
            </div>

            <div class="form-text text-danger"
             *ngIf="PWD.errors?.['minlength']|| PWD.errors?.['maxlength'] && (PWD.dirty || PWD.touched)">
                Password should be atleast 6 and atmost 15 character.
            </div>

        </div>
        <button type="submit" [disabled]="loginForm.invalid"  class="btn btn-dark my-3"><strong>Login</strong></button>

        <a href="/signup" class="mx-4"><strong> New User?</strong></a>
    </form>
</div>