.container{
    padding: 100px;
}

.carDetails{
    background-color: #800080;
    color: white;
    padding: 20px;
    margin: 2px;
}
hr{
    border-top: 2px solid white;
}

.userDetails{
    background-color:#800080;
    color: white;
    margin: 2px;
    padding: 20px;
}


label{
    margin-top: 20px;
}

input{
    border: none;
    outline: none;
    width: 100%;
    border-radius: 0px;
    border-bottom: 2px solid #800080;
    margin-top: 5px;
}
h4{
    font-family:'Ubuntu', sans-serif;
}

.agreementBtn{
    font-family:'Ubuntu', sans-serif;
    background-color: #800080;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 5px;
}

.backBtn{
    font-family:'Ubuntu', sans-serif;
    background-color:#800080;
    padding: 8px 25px;
    border: none;
    color: white;
    font-size: 15px;
    float: right;
    margin: 15px;
}
