<a href="/teacher/login" class="btn btn-dark goBack" style="margin-top: 5px;margin-left:1180px;" >Go back!</a><br>

<div class="container d-flex align-items-center justify-content-center mt-5">
    <div class="card">
        <div class="card-body px-5 py-4">
            <form method="POST">
                <h6 class="card-title text-center">Teacher Signup</h6>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" required name="email" class="form-control mb-3 mt-2"  placeholder="Enter Email"/>
                </div>
        
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" required name="password" class="form-control mb-3 mt-2"  minlength="8" placeholder="Enter a Password" />
                </div>
        
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Sign Up</button>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/teacher/login" class="btn btn-dark px-3">login</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>



