img {

  height: 150px;

  width: 150px;

  padding: 10px 10px 10px 10px;

}




table {

  vertical-align: middle;

  justify-content: center;

  width: 80%;

}




.my-button {

  border-radius: 100px;

  height: 35px;

  width: 35px;

  border: none;

}




.qtyButton {

  transition: 0.35s;

  border: none;

}




.qtyButton:hover {

  background-color: #007bff;

  transition: 0.35s;

  color: white;

}




.deleteButton {

  transition: 0.35s;

  border: none;

}




.deleteButton:hover {

  background-color: red;

  transition: 0.3s;

  color: white;

}





td,th {

  min-width: 200px;

  text-align: center;

  vertical-align: middle;

}




td {

  font-size: 20px;

}




th {

  font-size: 16px;

  padding: 10px 10px 20px 10px;

}




.container {

  display: flex;

justify-content: center;

/* align-items: center; */

height: 20vh;

}




.productImage {

  height: 180px;

  width: 180px;

  /* padding: 20px 20px 20px 20px; */

  border-radius: 25px;

}




.productName {

  font-size: larger;

}




.discountPercentage {

  font-size: smaller;

}




.discountedPrice {

  font-size: 30px;

  font-weight: 500;

}




.btn-danger {

  border-radius: 100px;

}




.quantity-control {

  display: flex;

  align-items: center;

}




.btn-secondary {

  height: 40px;

  min-width: 40px;

  width: 40px;

  border-radius: 50%;

  background-color: #ccc;

  color: #000;

  border: none;

  cursor: pointer;

  margin: 0 5px;

  font-size: 20px;

  display: flex;

  justify-content: center;

  align-items: center;

}




.btn-secondary:hover {

  background-color: #838383;

  color: white;

}




