<div class="container-fluid p-3">
    <h4>Edit Record</h4>
    <form [formGroup]="stdForm" (ngSubmit)="onFormSubmit()">
        <div class="my-3">
            <label for="rollNo" class="form-label "><em>Roll No</em></label>
            <input type="number" class="form-control" formControlName="rollNo" id="rollNo" readonly>
        </div>
        <div class="my-3">
            <label for="name" class="form-label"><em>Name</em></label>
            <input type="text" class="form-control" formControlName="name" id="name" required>
        </div>
        <div class="my-3">
            <label for="dob" class="form-label"><em>Date of Birth</em></label>
            <input type="date" class="form-control" formControlName="dob" id="dob" required>
        </div>
        <div class="my-3">
            <label for="score" class="form-label"><em>Score</em></label>
            <input type="number" class="form-control" formControlName="score" id="score" required>
        </div>
        <button class="btn btn-primary my-3">{{data?'Update': 'Save'}}</button>
        <button class="btn btn-secondary my-3 mx-2" [mat-dialog-close]="false">Cancel</button>
    </form>
</div>