<div class="login-home" m-5>
    <h4>Login As</h4>

    <div class="px-4">
        <a href="/teacher/login" class="btn btn-dark p-2 px-4 "  style="border-radius: 10px;width: 120px;margin-right: 40px; margin-top:60px">Teacher</a>
        <span><a href="/student/login" class="btn btn-dark p-2 px-4" style="border-radius: 10px;width: 120px;margin-left: 30px;margin-top:60px">Student</a>
        </span>
      </div>

   
</div> 

