
@model IList<EventViewModel>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "EventsInvitedTo";
}
@inject SignInManager<BookReadingEvent.Domain.Entities.ApplicationUser> _loginManager
@inject UserManager<BookReadingEvent.Domain.Entities.ApplicationUser> _userManager

@{
    var user = await _userManager.GetUserAsync(User);
    var email = user != null ? user.Email : "";

}

<div class="card mt-4">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card-header">
                <h3 class="text-center">My Invites</h3>
            </div>
        </div>
        <div class="col-12 col-sm-12">
            @foreach (var e in Model)
            {
                if (e.Invitees != null)
                {
                    if (e.Invitees.Split(",").Contains(email))
                    {
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <a asp-action="EventDetails" asp-controller="BookReadingEvent" asp-route-id="@e.Id">@e.Title </a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>


