<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <form class="d-flex">
        <input class="form-control  me-2" type="search" placeholder="Search" aria-label="Search"
          [(ngModel)]="searchTerm">
      </form> -->
      <div class="col-md-2 offset-md-1">
        <select class="form-select" (change)="onCategoryChange($event)">
     
          <option value="" selected>All Products</option>
     
          <option *ngFor="let category of Categories" [value]="category">{{ category }}</option>
     
        </select>
      </div>
    
      <div class="col-md-6 px-5 py-2">
      <form [formGroup]="fg">
        <input type="text" formControlName="search" class="col-md-5 form-control"
          placeholder="Search for a product" />
      </form>
    </div>
    
    <div class="col-md-3">
      <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
   </div>

 

      <div class="col-md-5">
      </div>
    
    </div>
  </div>
</nav>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <tr (click)="onProductDetails(product.productId)" *ngFor="let product of filteredData">
      <td>{{ product.productName }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price | currency :'INR'}}</td>
      <td>{{ product.category }}</td>
      <td><img [src]="product.data" width="150px" height="80" alt="Image"></td>
    </tr>
  </tbody>



</table>


<div class="pagination">
  <a href="#" (click)="goToPage(currentPage - 1)">&laquo;</a>
  <a *ngFor="let page of pages" [class.active]="currentPage === page" (click)="goToPage(page)">{{ page }}</a>
  <a href="#" (click)="goToPage(currentPage + 1)">&raquo;</a>
</div>
