 <app-header></app-header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="">GroceryApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item" *ngIf="!isUserLogin">
          <a class="nav-link active" aria-current="page" 
          routerLink ="login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isUserLogin">
          <a class="nav-link active" aria-current="page" 
          routerLink ="signup">Signup</a>
        </li> 
        
            <li class="nav-item" *ngIf="isUserLogin">
              <a class="nav-link active" aria-current="page">
                {{ username }}
              </a>
            </li>
        <li class="nav-item" *ngIf="isUserLogin && !isAdmin">
          <a class="nav-link active" aria-current="page" 
          routerLink ="viewcart">View Cart</a>
        </li>
        <li class="nav-item" *ngIf="isUserLogin && !isAdmin">
          <a class="nav-link active" aria-current="page" 
          routerLink ="myorders">My Orders</a>
        </li> 

        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link active" aria-current="page" 
          routerLink ="admin-addProduct">AddProduct</a>
        </li>  
        <li class="nav-item" *ngIf="isUserLogin" >
          <a class="nav-link active" (click)="logout()" aria-current="page">Sign-Out</a>
        </li>

        <li class="nav-item" *ngIf="isUserLogin">
          <a class="nav-link active" aria-current="page" (click)="helpfun()">Help</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>



